.fa-star {
    margin: 0.5em;
    font-size: 26px;
}

.numbers {
    display: inline-block;
    margin: 0.5em;
    text-align: center;
    background-color: #ccc;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
    border-width: 0;
}

.selected {
    background-color: #eee;
    color: #ddd;
    cursor: not-allowed;
}

.used {
    background-color: #aaddaa;
    color: #99bb99;
    cursor: not-allowed;
}

.btn {
    cursor: pointer;
}

.container {
    max-width: 600px;
    width: 600px;
}

h3 {
    display: inline-block;
}

.numbers-disabled {
    cursor: not-allowed;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fade-in {
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
}